.container {
    background-color: var(--date-time);
    width: 576px;
    height: 576px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    border-radius: 25px;
}

.container .month {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 110px;
    text-align: center;
}

.month i {
    font-size: 20px;
    cursor: pointer;
}

.month h1 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 3px;
    margin-bottom: 3px;
}

.month p {
    font-size: 16px;
}

.weekdays {
    width: 100%;
    height: 80px;
    padding: 0 6.4px;
    display: flex;
    flex-wrap: wrap;
}

.weekdays div {
    font-size: 24px;
    font-weight: 500;
    color: var(--header-line);
    width: calc(543px / 7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hr {
    position: relative;
    border-top: 1px solid var(--header-line);
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
}

.days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 3.2px;
}

.days div {
    font-size: 24px;
    font-weight: 500;
    margin: 4.8px;
    width: calc(481px / 7);
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
}

.days div:hover:not(.today) {
    border: 3.2px solid var(--text);
    border-radius: 50%;
}

.prev-date,
.next-date {
    opacity: 0.5;
}

.today {
    background-color: var(--text);
    border-radius: 50%;
}
