.nav .icon-bg .home {
    filter: invert(78%)
    sepia(29%)
    saturate(0%)
    hue-rotate(320deg)
    brightness(108%)
    contrast(69%);
}

.nav .icon-bg:hover .home {
    filter: brightness(0)
    saturate(100%)
    invert(24%)
    sepia(95%)
    saturate(673%)
    hue-rotate(159deg)
    brightness(93%)
    contrast(103%);
}

.nav .icon-bg.active .icon {
    left: 20px;
    filter: brightness(0)
    saturate(100%)
    invert(24%)
    sepia(95%)
    saturate(673%)
    hue-rotate(159deg)
    brightness(93%)
    contrast(103%);
}

.main1 {
    display: flex;
    gap: 30px;
    align-items: center;
    margin: 56px auto 30px;
    width: 80%;
}

.main1 .box {
    position: relative;
    width: 576px;
    height: 159px;
    background-color: var(--date-time);
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 47px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    line-height: 30px;
    padding: 30px;
}

.box:last-child {
    margin-bottom: 0px;
}

.tip {
    font-size: 20px;
    font-weight: 500;
    color: var(--header-line);
}

.badges {
    display: block;
    width: 188px;
    height: 20px;
    border-radius: 33px;
    margin-top: 18px;
}

.red {
    background-color: var(--red);
}

.yellow {
    background-color: var(--yellow);
}

.green {
    background-color: var(--green);
}

.fa-plus {
    padding: 15px 15px;
    border-radius: 50%;
    background-color: var(--footer-line);
    margin-left: 200px;
    margin-top: 20px;
    margin-bottom: 50px;
    color: var(--date-time);
}

.dots {
    position: absolute;
    top: 43.59px;
    right: 56.43px;
}

@media only screen and (min-width: 1199px) {
    .container {
        background-color: var(--date-time);
        width: 576px;
        max-width: 576px;
        height: 576px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
        border-radius: 25px;
    }

    .container .month {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 110px;
        text-align: center;
    }

    .month p {
        font-size: 16px;
    }
}

@media only screen and (max-width: 1080px) {
    .container {
      width: auto;
    }

    .month p{
        font-size: 4px;
    }
  }
    
  @media only screen and (max-width: 768px) {
    .quote {
      padding: 40px 64px;
      max-width: 433px;
      width: auto;
      margin-left: 106px;
    }
    
    footer {
      left: calc(50% + 50px);
    }
    
    .home-img {
      height: 476px;
    }
  }
  
  @media only screen and (max-width: 576px) {
    main .date-time {
      width: 350px;
      padding: 10px 59px;
    }
  
    main .time {
      font-size: 28px;
      letter-spacing: 0px;
    }
  }
