.calendar {
    width: 576px;
    height: 576px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    border-radius: 25px;
  }
  
.month {
    width: 100%;
    height: 5rem;
    background-color:  white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 13rem;
    text-align: center;
    border-radius: 25px;
  }
  
.month i {
  font-size: 24px;
    cursor: pointer;
  }
  
.month h1 {
    font-size: 24px;
    letter-spacing: 0.2rem;
  }
  
.month p {
    display: none;
  }

.weekdays {
    width: 84%;
    height: 4rem;
    display: flex;
    align-items: center;
    color: rgba(196, 196, 196, 1);
    justify-content: center;
    margin-left: 62px;
  }
  
.weekdays div {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.1rem;
    width: calc(42.2rem / 7);
  }

hr {
    position: relative;
    width: 470px;
    left: 50%;
    transform: translateX(-50%);
}
  
.days {
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
  }
  
.days div {
    font-size: 24px;
    margin: 2px;
    width: calc(28.2rem / 7);
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
  }
  
.days div:hover:not(.today) {
    border: 0.2rem solid #02577A;
    cursor: pointer;
    border-radius: 50%;
  }
  
.prev-date,
.next-date {
    opacity: 0.3;
  }
  
.today {
    background-color: #02577A;
    border-radius: 50%;
    color: white;
  }

@media only screen and (max-width: 1280px) {
  .calendar {
    width: 500px;
    height: 473px;
  }

  .weekdays {
    height: 35px;
    margin-left: 53px;
  }

  .month {
    padding: 0px 8rem;
    height: 90px;
  }

  .days {
    margin-left: 32px;
  }

  .days div {
    margin: 1px;
    height: 56px;
    width: calc(26.2rem / 7);
  }

  hr {
    width: 397.16px;
  }
}

@media  only screen and (max-width: 991px) {
  .calendar {
    width: 435px;
    margin-left: 100px;
  }
  
  .weekdays {
    width: 90%;
    height: 2rem;
    align-items: unset;
    margin-left: 35px;
    padding: 0;
  }

  .weekdays div {
    letter-spacing: 2px;
    font-size: 20px;
  }
  
  .days {
    margin-left: 15px;
  }
  
  .days div {
    width: calc(24.2rem / 7);
    height: 55px;
  }
}