.nav .icon-bg .home {
    filter: invert(78%)
    sepia(29%)
    saturate(0%)
    hue-rotate(320deg)
    brightness(108%)
    contrast(69%);
}

.nav .icon-bg:hover .home {
    filter: brightness(0)
    saturate(100%)
    invert(24%)
    sepia(95%)
    saturate(673%)
    hue-rotate(159deg)
    brightness(93%)
    contrast(103%);
}

.nav .icon-bg.active .icon {
    left: 20px;
    filter: brightness(0)
    saturate(100%)
    invert(24%)
    sepia(95%)
    saturate(673%)
    hue-rotate(159deg)
    brightness(93%)
    contrast(103%);
}

.main1 {
    display: flex;
    gap: 30px;
    align-items: center;
    margin: 56px auto 30px;
    width: 80%;
}

.main1 .box {
    position: relative;
    width: 576px;
    height: 159px;
    background-color: var(--date-time);
    font-size: 26px;
    margin-bottom: 47px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    padding: 26px;
}

.box:last-child {
    margin-bottom: 0px;
}

.h1 {
    margin-left: 16px;
}

.tip {
    font-size: 20px;
    font-weight: 500;
    color: var(--header-line);
    margin-left: 16px;
}

.badges {
    display: block;
    width: 188px;
    height: 20px;
    border-radius: 33px;
    margin-top: 20px;
    margin-left: 16px;

}

.red {
    background-color: var(--red);
}

.yellow {
    background-color: var(--yellow);
}

.green {
    background-color: var(--green);
}

.fa-plus {
    width: 70px;
    height: 70px;
    color: var(--date-time);
    background-color: var(--footer-line);
    padding: 22px 23px;
    border-radius: 50%;
    margin-left: 190px;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 28px;
}

.fa-plus:hover {
    background-color: var(--body);
    border: 2px solid #02577A;
    color: #02577A;
    padding: 20px 21px;
}

.dots {
    position: absolute;
    top: 43.59px;
    right: 56.43px;
}

@media only screen and (max-width: 1280px) {
    .main1 .box {
        width: 500px;
        height: 127.66px;
        padding: 4px;
    }

    .h1 {
        margin-left: 38px;
    }

    .tip {
        margin-left: 38px;
    }

    .badges {
        margin-left: 38px;
    }
    
}

@media  only screen and (max-width: 991px) {
    .containerOne {
        margin-left: 100px;
    }

    .main1 {
        flex-direction: column-reverse;
    }

    .main1 .box {
        width: 435px;
        height: 105.32px;
        padding: 6px;
    }

    .badges {
        width: 146.55px;
        height: 13.25px;
        margin-top: 4px;
    }

    .fa-plus {
        width: 60px;
        height: 60px;
        padding: 20px 21px;
        margin-left: 480px;
        font-size: 21px;
        margin-top: -20px;
    }
}