.nav .icon-bg .home {
    filter: invert(78%)
    sepia(29%)
    saturate(0%)
    hue-rotate(320deg)
    brightness(108%)
    contrast(69%);
}

.nav .icon-bg:hover .home {
    filter: brightness(0)
    saturate(100%)
    invert(24%)
    sepia(95%)
    saturate(673%)
    hue-rotate(159deg)
    brightness(93%)
    contrast(103%);
}

.nav .icon-bg.active .icon {
    left: 20px;
    filter: brightness(0)
    saturate(100%)
    invert(24%)
    sepia(95%)
    saturate(673%)
    hue-rotate(159deg)
    brightness(93%)
    contrast(103%);
}

.main1 {
    display: flex;
    gap: 30px;
    align-items: center;
    margin: 56px auto 30px;
    width: 80%;
    max-width: 1267px;
}

.main1 .box {
    width: 576px;
    max-width: 576px;
    height: 159px;
    background-color: white;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 47px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

.box:last-child {
    margin-bottom: 0px;
}

.tip {
    font-size: 20px;
    font-weight: 500;
    color: var(--header-line);
}

.badges {
    padding:0 94px;
    background-color: var(--red);
    border: none;
    border-radius: 25px;
}

.green {
    background-color: var(--green);
}

.yellow {
    background-color: var(--yellow);
}
