body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /*
    font-family: 'Montserrat', sans-serif;
    */
}

:root {
    --body: #EBEEF5;
    --header: #F7F6FF;
    --header-line: #C4C4C4;
    --footer-line: #02577A;
    --text: #02577A;
    --hyperLink : #C4C4C4;
    --main-text: rgba(0, 0, 0, 1);
    --quote-frame: rgba(2, 87, 122, 1);
    --date-time: rgba(255, 255, 255, 1);
}

a {
    text-decoration: none;
    color: inherit;
}