body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
    --body: #EBEEF5;
    --header: #F7F6FF;
    --seperate: #C4C4C4;
    --line: #02577A;
    --text: #02577A;
    --hyperLink : #C4C4C4;
}