body {
    width: 100%;
    background-color: var(--body);
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 56px auto 30px; /*FIX*/
    width: 90%;
    max-width: 1267px;
    font-weight: 500;
    font-size: 36px;
}

main .greeting {
    max-width: 341px;
    margin-left: 106px;
    font-weight: 500;
    font-size: 36px;
    font-weight: 500;
    color: var(--main-text);
}

.main-img {
    background-image: linear-gradient(0deg, rgba(237, 236, 243, 0.46), rgba(237, 236, 243, 0.46)), url(../img/main/main-img.png);
    background-repeat: no-repeat;
    height: 431px;
    background-size: cover;
    background-position: center;
}

.quote {
    border: 2px solid var(--quote-frame);
    border-radius: 25px;
    padding: 49px 0;
    width: 70%;
    max-width: 898px;
    text-align: center;
    margin: 43px auto;
}

section {
    font-weight: 500;
}
  
section:first-child {
    margin-left: 100px;
}
  
@media only screen and (max-width: 1080px) {
  main {
    flex-direction: column-reverse;
    align-items: flex-start;
    margin-left: 125px;
    width: auto;
  }
  main .container {
    padding: 22px 20px;
  }
  main .greeting {
    margin: 33px 0 0 16px;
  }
}
  
@media only screen and (max-width: 768px) {
  .quote {
    padding: 40px 64px;
    max-width: 433px;
    width: auto;
    margin-left: 106px;
  }
  
  footer {
    left: calc(50% + 50px);
  }
  
  .home-img {
    height: 476px;
  }
}

footer {
  position: relative;
  padding: 11px 0;
  width: 70%;
  max-width: 346px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--text);
  font-size: 11px;;
  border-top: 1px solid var(--header-line);
  text-align: center;
}

@media only screen and (max-width: 576px) {
  footer {
    width: auto;
    z-index: -1;
    left: 50%;
  }
}