body {
    width: 100%;
    background-color: var(--body);
}

header {
    width: 100px;
    height: 100vh;
    background: var(--header);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all .5s linear;
    display: grid;
    justify-content: center;
}

header:hover {
    width: 206px;
}

.logo {
    width: 68px;
    height: 34px;
    margin-top: 44px;
    margin-left: calc(50% - 34px);
    transition-property: all;
}

.line1 {
    width: 62.24px;
    height: 2px;
    background: var(--seperate);
    margin-left: calc(50% - 31.12px);
    margin-top: 15px;
}

.frame {
    display: flex;
    width: 25px;
    height: 25px;
    transform: translateX(70%);
    margin-top: 32px;
    translate: all;
}

.games {
    width: 40px;
    transform: translateX(25%);
}

.bottom-links {
    position: absolute;
    bottom: 0;
    left: 547px;
    padding: 10px;
}

.line2 {
    width: 346.01px;
    height: 1px;
    background: var(--line);
}

p {
    color: var(--text);
    text-decoration: none;
    font-size: 11px;
    font-weight: normal;
    margin-top: 5px;
    margin-left: 100px;
}