
nav {
    position: fixed;
    background-color: var(--header);
    width: 100px;
    height: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
    transition: max-width 0.4s ease-in 0s;
    top: 0;
    left: 0;
}

nav:hover {
    width: 206px;
}

.logo {
    margin: 52px 0 24px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.line1 {
    width: 62.24px;
    max-width: 62.24px;
    height: 2px;
    background: var(--header-line);
    margin: auto;
    border: none;
    margin-bottom: 32px;
    transition: max-width 0.4s ease-in 0s;
}

nav:hover .line1 {
    width: 128.22px;
    max-width: 128.22px;
}

.icon {
    display: flex;
    width: 25px;
    height: 25px;
    transform: translateX(70%);
    margin-top: 42px;
}

.icon-bg {
    position: absolute;
    top: 16%;
    left: 11px;
}

nav:hover .icon {
    transform: translate(50%, -100% );
}

nav:hover .icon-bg {
    display: none;
}

.games {
    width: 40px;
    transform: translateX(25%);
}

nav:hover .games {
    transform: translate(20%, -100% );
}

a div {
    display: none;
}

nav:hover a {
    display: inline-block;
    width: 195px;
    height: 57px;
    border-radius: 25px 0px 0px 25px;
    margin-left: 11px;
    margin-top: 16px;
    transition: 0.1s;
}

a:hover {
    background-color: #fff;
}

nav:hover a div {
    display: flex;
    color: var(--hyperLink);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    transform: translate(30%, -250%);
}

nav a:hover div {
    filter: brightness(0)
    saturate(100%)
    invert(24%)
    sepia(95%)
    saturate(673%)
    hue-rotate(159deg)
    brightness(93%)
    contrast(103%);
}

nav a:hover img {
    filter: brightness(0)
    saturate(100%)
    invert(24%)
    sepia(95%)
    saturate(673%)
    hue-rotate(159deg)
    brightness(93%)
    contrast(103%);
}
